@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-blue: #1a7bd1;
    --dark-gray: #2c2d3f;
    --light-gray: #757575;
    --bg-white: #f6f6ff;
    --bg-newsletter: #edf2ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--dark-gray);
}

h2,
h3 {
    font-weight: 600;
}

p {
    color: var(--light-gray);
    font-size: 14px;
}

/** Utility **/
.text-primary {
    color: var(--light-blue);
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
}

.btn-primary {
    background-color: var(--light-blue);
    color: #fff;
}

.btn-primary:hover {
    background-color: #135fa1;
}

.btn-secondary {
    background-color: var(--dark-gray);
    color: #fff
}

.btn-secondary:hover {
    background-color: #4c4f6e;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 32px;
    max-width: 600px;
    margin: auto;
}

.title img {
    margin: 20px 0;
}

.title p {
    font-size: 16px;
    margin: auto;
    max-width: 500px;

}



/** Header start **/

#home .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

#home .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 100px;
    padding: 0 15px;
    margin: auto;
}

#home .navbar nav ul {
    display: flex;
}

#home .navbar nav ul a {
    margin: 0 15px;
    color: var(--dark-gray);
    font-weight: 500;
    transition: all 0.5s ease-in;
}

#home .navbar nav ul a:hover {
    color: var(--light-blue);
}

#home .navbar .logo {
    width: 250px;
}

#home .home-content {
    background: url('./images/bg-home.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#home .home-content .col {
    width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

#home .home-content .col small {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

#home .home-content .col small img {
    vertical-align: middle;
}

#home .home-content .col h1 {
    font-size: 40px;
    max-width: 600px;
    line-height: 1.4;
}

#home .home-content .col p {
    padding: 10px 0 30px;
    max-width: 500px;
    line-height: 1.6;
}

#home .home-content .col a {
    margin-right: 15px;
}

/** Header end **/
/** About  start **/
#about {
    padding: 6rem 0;
}

#about .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    margin-top: 3rem;
}

#about .row .col h3 {
    font-size: 25px;
}

#about .row .col hr {
    width: 60px;
    height: 3px;
    background-color: var(--light-blue);
    border: none;
    margin: 10px 0;
}

#about .row .col p {
    font-size: 16px;
    margin-bottom: 25px;
}

#about .row .col .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about .row .col .list li {
    columns: var(--light-gray);
    margin-bottom: 5px;
}

#about .row .col .list li i {
    color: var(--light-blue);
    margin-right: 5px;
}


#about .row img {
    width: 100%;
}

/** About end **/
/** info section start **/
#info {
    background: url('./images/info-bg.jpg') no-repeat center center/cover;
    padding: 6rem 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

#info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    opacity: 0.8;
    z-index: -1;
}

#info .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


#info .row .col {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info .row .col:hover i {

    color: var(--light-blue);
    background-color: white;
}

#info .row .col i {
    font-size: 30px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 20px;
}


#info .row .col span {
    font-weight: 600;
    font-size: 30px;
}

#info .row .col p {
    color: #fff;
}

/** info section end **/
/*** Help section start **/
#help {
    padding: 6rem 0;
}

#help .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
    text-align: center;
}

#help .row .col {
    position: relative;
}

#help .row .col:first-child:before,
#help .row .col:nth-child(2):before {
    content: "";
    border-bottom: 4px dotted var(--light-blue);
    position: absolute;
    width: 118px;
    right: -75px;
    top: 40px;
}



#help .row .col i {
    font-size: 30px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: var(--light-blue);
}

#help .row .col h3 {
    margin: 20px 0;
}




/*** Help section end **/